.header {
  width: 100%;
  height: 50px;
  text-align: center;
}

.button {
  padding: 10px 16px;
  background-color: orange;
  color: white;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  text-align: center;

  &:hover {
    opacity: .8;
  }
}

.search-panel {
  display: flex;
  padding: 20px;
  border: 1px solid gray;
  justify-content: flex-start;
  align-items: flex-end;

  & > * {
    flex-basis: calc(30% - 30px);

    &:nth-child(n+2) {
      margin-left: 30px;
    }
  }
}

.etm-input {
  position: relative;
  display: inline-block;
  width: 100%;

  input {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    padding: 4px 10px;
  }

  &__wrap {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  &__title {
    width: 100%;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    display: inline-block;
  }

  &__iata {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &_select {

    .etm-input__wrap::after{
      content: '';
      border: 5px solid transparent;
      border-top-color: black;
      position: absolute;
      top: calc(50% + 3px);
      right: 15px;
      transform: translateY(-50%);
    }

    input {
      padding-right: 10px;
    }
  }
}


ul li {
  list-style-type: none;

}

ul {
  padding-left: 0;
  margin-top: 0;
}

.drop-down {
  width: 100%;
  top: calc( 100% + 2px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  position: absolute;
  left: 0;
  background-color: white;
  z-index: 5;

  li {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: lightgray;
    }

    &:nth-child(n+2) {
      border-top: 1px solid #eee;
    }
  }

  &.active {
    display: inline-block;
  }
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.class-select {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 36px;

  &__item {
    flex-basis: 50%;
    border: 1px solid darkorange;

    input {
      display: none;

      &:checked + span {
        color: white;
        background-color: darkorange;
      }
    }
  }
  
  &__name {
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
    padding: 8px;
    box-sizing: border-box;
  }
}