.header {
  width: 100%;
  height: 50px;
  text-align: center;
}

.button {
  padding: 10px 16px;
  background-color: orange;
  color: white;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  text-align: center;
  box-sizing: border-box;

  &:hover {
    opacity: .8;
  }

  &_inline {
    width: auto;
  }
}

.search-panel {
  display: flex;
  padding: 20px;
  border: 1px solid gray;
  justify-content: flex-start;
  align-items: flex-end;

  & > * {
    flex-basis: calc(20% - 30px);

    &:nth-child(n+2) {
      margin-left: 30px;
    }
  }
}

.etm-input {
  position: relative;
  display: inline-block;
  width: 100%;

  input {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    padding: 4px 10px;
  }

  &__wrap {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  &__title {
    width: 100%;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    display: inline-block;
  }

  &__iata {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &_select {

    .etm-input__wrap::after{
      content: '';
      border: 5px solid transparent;
      border-top-color: black;
      position: absolute;
      top: calc(50% + 3px);
      right: 15px;
      transform: translateY(-50%);
    }

    input {
      padding-right: 10px;
    }
  }
}


ul li {
  list-style-type: none;

}

ul {
  padding-left: 0;
  margin-top: 0;
}

.drop-down {
  width: 100%;
  top: calc( 100% + 2px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  position: absolute;
  left: 0;
  background-color: white;
  z-index: 5;

  li {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: lightgray;
    }

    &:nth-child(n+2) {
      border-top: 1px solid #eee;
    }
  }

  &.active {
    display: inline-block;
  }
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.class-select {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 36px;

  &__item {
    flex-basis: 50%;
    border: 1px solid darkorange;

    input {
      display: none;

      &:checked + span {
        color: white;
        background-color: darkorange;
      }
    }
  }
  
  &__name {
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
    padding: 8px;
    box-sizing: border-box;
  }
}

.vdp-datepicker {

  input {
    width: 100%;
    height: 36px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 10px;
  }
}

.offers {
  margin-top: 20px;

  &-block {

    &__wrap {
      display: flex;
      justify-content: flex-start;
    }

    &__filters {
      flex-basis: 300px;
      padding: 20px;
      margin-right: 30px;
    }

    &__offers {
      flex-basis: 100%;
      padding-top: 40px;
    }
  }
}

.airline {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  cursor: pointer;

  &__left-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__name {
    margin-left: 15px;
    font-weight: bold;
  }
}

.offer {

  &__segments {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    margin-top: 5px;
  }
}

.segments {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% - 200px);

  &__price {
    flex-basis: 200px;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    border-left: 1px solid lightgray;
  }

}

.segment {
  padding: 10px;
  display: flex;
  justify-content: space-between;

  &__stop {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px;
  }

  &__flight {
    flex-basis: 100px;
  }

  &__departure, &__arrival {
    flex-basis: 30%;
    text-align: center;
  }

  &__duration-time {
    flex-basis: 200px;
    text-align: center;
  }
}

.local-data {
  margin-top: 20px;

  & > * {
    display: inline-block;
    width: auto;

    &:nth-child(n+2) {
      margin-left: 30px;
    }
  }
}

.filter {

  &__name {
    font-weight: 500;
    padding: 20px 0;
  }

  &__rule {
    margin-top: 20px;
  }

}